@model CommentViewModel

@{
    var cssClass = ViewBag.CssClass as string;
}

<div class="mb-3 @cssClass">
    <form method="post" asp-controller="Home" asp-action="Comment">
        <input asp-for="PostId" type="hidden" />
        <input asp-for="MainCommentId" type="hidden" />
        <div class="main-comment-box">
            <textarea asp-for="Message" class="comment-text-area @cssClass" placeholder="Write a comment..."></textarea>
        </div>
        <div class="button-wrapper">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
