@model IEnumerable<Post>

@{
	// ViewData["Title"] = "Blog";
	// ViewData["Description"] = "Where I write my words";
	// ViewData["Keywords"] = "blog, programming, games, books";
}


<div class="main-img">
	<span class="title">Blog for cool, cool people. That's me, the cool people.'</span>
</div>

<div class="container">
	@foreach (var post in Model)
	{
		string imagePath = $"/Image/{post.Image}";

		<a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
			<img src="@imagePath"/>
			<span class="title">
				@post.Title
			</span>
		</a>
	}
</div>