@model Post

@{

}

<div class="container">
	<div class="post shadow-none">
		@if (!String.IsNullOrEmpty(Model.Image))
		{
			string imagePath = $"/Image/{Model.Image}";
			<img src="@imagePath" />
			<span>@Model.Title</span>
		}
	</div>
	<div class="post-body">
	@Html.Raw(@Model.Body)
	</div>
</div>