@model PostViewModel

<div class="container mt-5">
	<form asp-controller="Panel" asp-action="Edit" method="Post" enctype="multipart/form-data">
		<input asp-for="Id" type="hidden" />

		<div class="mb-3">
			<label asp-for="Title" class="form-label">Title</label>
			<input asp-for="Title" class="form-control" />
			<span asp-validation-for="Title" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="Description" class="form-label">Description</label>
			<input asp-for="Description" class="form-control" />
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="Tags" class="form-label">Tags</label>
			<input asp-for="Tags" class="form-control" />
			<span asp-validation-for="Tags" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="Category" class="form-label">Category</label>
			<select asp-for="Category" class="form-control">
				<option value="Games">Games</option>
				<option value="Books">Books</option>
				<option value="Programming">Programming</option>
			</select>
			<span asp-validation-for="Category" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="Body" class="form-label">Body</label>
			<textarea id="editor" asp-for="Body" class="form-control"></textarea>
			<span asp-validation-for="Body" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="Image" class="form-label">Upload Image</label>
			<input asp-for="CurrentImage" type="hidden" />
			<input asp-for="Image" type="file" class="form-control-file" />
			<span asp-validation-for="Image" class="text-danger"></span>
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

@section Scripts {
	<script>
		$(document).ready(function () {
			$('#editor').trumbowyg();
		});
	</script>
}

<style>
	.form-label {
		display: block;
		margin-bottom: 5px;
	}

	.mb-3 input,
	.mb-3 select,
	.mb-3 textarea {
		display: block;
		margin-bottom: 10px;
	}

	.form-control-file {
		display: block;
		margin-top: 10px;
	}


</style>